<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id="page-heading">
        <i class="fa fa-address-book"></i>
        My Contacts List
    </h1>

    <div id="contact-list-container">
        <ul id="unordered-list">
            <% for(let i of contact_list) { %>
                <li id="li">
                    <p>
                        <%= i.name %>
                    </p>
                    <p>
                        <%=i.phone %>
                    </p>

                    <div class="delete-button">

                        <a href="/delete-contact/?id=<%= i._id %>">
                            <i class="fa fa-window-close"></i>
                        </a>

                    </div>
                </li>
                <% } %>
        </ul>

    </div>

    <form id="form" action="create-contact" method="post">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Number" required>
        <button type="submit">Add Contact</button>
    </form>




    <!-- JAVA SCRIPT HERE -->
    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>