body{
    margin:0;
    padding: 0;
    font-family:sans-serif ;
}
#page-heading{
    text-align: center;
    margin-top: 25px;
    color: gray;
}
#contact-list-container{
    display:flex;
    justify-content: space-around;
}
#unordered-list{
    list-style: none;
}
#li{
    width: 340px;
    margin: 3px;
    display:flex;
    justify-content: space-around;
    background-color: rgb(80, 137, 241);  
}
#li:hover{
    background-color: gray;
}
#form{
    text-align: center; 
}
#form input{
    border: none;
   border-bottom: 2px solid rgb(112, 199, 95);  
}
#form button{
   
  border-radius: 5px;
  color: white;
  border: none;
  background-color: black;
}
.delete-button{
    margin-top: 18px;
    margin-right: -20px;
}
.delete-button a{
    
    background: red;
    color: white;
    
}
