body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(136, 246, 233);
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: gray;
}

#contact-list-container ul {
    padding:0;
    list-style-type: none;
   }

   .contact{
    display: flex;
    justify-content: center;
    /* padding: 3px 10px; */
    border: 1px solid white;
    background-color: #6f92f9;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: white;
   }

  #add-button{
    border: none;
    background: rgb(255, 0, 43);
    border-radius: 5px;
    cursor: pointer;
   }

  /* .contact{
    display:flex;
    justify-content: center;

  } */
   .details{
    display:flex;
    justify-content: space-between;
    width: 40%;
   }

/* delete button */
.contact .delete-button{
    width: 50%;
}

.delete-button{
    display: inline-block;
    position: relative;
     bottom: 10%; 
    left: 40%; 
    background: red;
    color: white;
}

   